*{
    margin:0px;
    padding:0px ;
}
#navbar{
  height:25px;
background-color: #0f1111 ;
width: 100vw;
position: fixed;
}
a{
  color: white;
  margin: 60px ;
  text-decoration: none
}
#logo{
  color:orange;
  font-size: 20px;
}
button{
  background-color: orange;
}

img{
  width: 90%;
  margin-top: 40px;
}

#footer{
  height: 500px;
  margin-top: 1500px;
  text-align: center;
  background-color: #0f1111;
color: white;
}
#footer > span{
  padding: 30px;
}